// Breakpoints
// -------------------------------------------------------

// example: @include breakpoint(sm) { style }
@mixin breakpoint($class) {
	@if $class == sm {
		@media only screen and (min-width: $break-mobile) {
			@content;
		}
	} @else if $class == md {
		@media only screen and (min-width: $break-tablet) {
			@content;
		}
	} @else if $class == lg {
		@media only screen and (min-width: $break-desktop) {
			@content;
		}
	} @else {
		@warn "Breakpoint mixin supports: sm, md, lg";
	}
}

// Alternate mixin where you can pass specific values
// example: @include bp-min(480px) { style }
@mixin bp-min($value) {
	@media only screen and (min-width: $value) {
		@content;
	}
}

// example: @include bp-max(480px) { style }
@mixin bp-max($value) {
	@media only screen and (max-width: $value) {
		@content;
	}
}


/*
  	Media
  	-----
  		Mixin that basically interpolates the media query variable

  	Possible Arguments:
  	--------------------
  		$query: the media query variable you want to use.

  	Examples:
  	---------
	@include media("(max-width:410px) and (min-width:767px)"){
		.something{
			padding: 0;
		}
  	}



  	Renders:
  	--------
  		@media only screen and (max-width:410px) and (min-width:767px){
			.something{
				padding: 0;
			}
  		}

*/

@mixin media($query) {
	@media only screen and #{$query} {
		@content;
	}
}
