@import "breakpoints";
@import "flex-grid";
@import "floats";
@import "show-hide";
@import "clearfix";

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.container {
	padding-right: pxToRem(15);
	padding-left: pxToRem(15);
	margin-right: auto;
	margin-left: auto;
	max-width: 750px;

	@include breakpoint(md) {
		max-width: 970px;
	}

	@include breakpoint(lg) {
		max-width: 1170px;
	}
}

