/**
 * @_margin-and-padding.scss
 * global classes for margin and padding. The number of classes generated scales off the base-font-size
 * example generated classes for rem: .mt-1rem, mr-1rem, mb-1rem, ml-1rem | .pt-1rem, pr-2rem, pb-3rem, pl-4rem
 * example generated classes for em: .mt-1em, mr-1em, mb-1em, ml-1em | .pt-1em, pr-2em, pb-3em, pl-4em
 * example generated classes for px: .mt-10px, mr-10px, mb-10px, ml-10px | .pt-10px, pr-20px, pb-30px, pl-40px
 */

$cssUnits: px, rem;
$pxMultiplier: 5;
$startStep: 1;
$endStep: 5;

@mixin generate-spacing-classes($spacing-properties: ()) {
	@each $item in $spacing-properties {
		@each $unit-base in $cssUnits {

			@if $unit-base == px {
				.m#{nth($item, 3)}-#{nth($item, 1) * $pxMultiplier}px {
					margin-#{nth($item, 4)}: #{pxToRem(nth($item, 2) * $pxMultiplier)};
				}

				.p#{nth($item, 3)}-#{nth($item, 1) * $pxMultiplier}px {
					padding-#{nth($item, 4)}: #{pxToRem(nth($item, 2) * $pxMultiplier)};
				}
			} @else if $unit-base == em {
				.m#{nth($item, 3)}-#{nth($item, 1)}em {
					margin-#{nth($item, 4)}: #{nth($item, 2)}em;
				}

				.p#{nth($item, 3)}-#{nth($item, 1)}em {
					padding-#{nth($item, 4)}: #{nth($item, 2)}em;
				}
			} @else if $unit-base == rem {
				.m#{nth($item, 3)}-#{nth($item, 1)}rem {
					margin-#{nth($item, 4)}: #{nth($item, 2)}rem;
				}

				.p#{nth($item, 3)}-#{nth($item, 1)}rem {
					padding-#{nth($item, 4)}: #{nth($item, 2)}rem;
				}
			}
		}
	}
}

@for $i from $startStep through $endStep {

	$unit: $i;

	$top-space-vars:       $i $unit t top,;
	$right-space-vars:     $i $unit r right,;
	$bottom-space-vars:    $i $unit b bottom,;
	$left-space-vars:      $i $unit l left,;

	@include generate-spacing-classes($top-space-vars);
	@include generate-spacing-classes($right-space-vars);
	@include generate-spacing-classes($bottom-space-vars);
	@include generate-spacing-classes($left-space-vars);
}
